# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc

# Eclipse/Java 관련 무시 설정
.metadata/
.plugins/
bin/
*.class
.settings/
.project
.classpath

# 캐시 및 임시 파일
EBWebView/
*.log
*.old